.header {
    width: 360px;
    height: 72px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: white; 
  }
  
  @media (min-width: 768px) {
    .header {
      width: 1440px; 
      height: 90px;   
    }
  }
  